In [2]:
# Exploring the mathematical liberties taken in bhc implementation

In [3]:
from scgenome import simulation
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# pi, d
params = simulation.expand_grid({
    "n": np.arange(0,100),
    "alpha": np.arange(1, 10, 50)
})

In [7]:
params["real_d"]

     n  alpha
0    0      1
1    1      1
2    2      1
3    3      1
4    4      1
5    5      1
6    6      1
7    7      1
8    8      1
9    9      1
10  10      1
11  11      1
12  12      1
13  13      1
14  14      1
15  15      1
16  16      1
17  17      1
18  18      1
19  19      1
20  20      1
21  21      1
22  22      1
23  23      1
24  24      1
25  25      1
26  26      1
27  27      1
28  28      1
29  29      1
..  ..    ...
70  70      1
71  71      1
72  72      1
73  73      1
74  74      1
75  75      1
76  76      1
77  77      1
78  78      1
79  79      1
80  80      1
81  81      1
82  82      1
83  83      1
84  84      1
85  85      1
86  86      1
87  87      1
88  88      1
89  89      1
90  90      1
91  91      1
92  92      1
93  93      1
94  94      1
95  95      1
96  96      1
97  97      1
98  98      1
99  99      1

[100 rows x 2 columns]